@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;900&display=swap');

body {
  font-family: 'Montserrat', sans-serif;
}

.contenedor {
    background-color: #fafafa;     
    text-align: center;
    
}

.tarjeta {
    text-align: left;    
    padding: 20px; 
    margin: 10px; 
    width: 400px;
    height: 350px;   
    box-sizing: border-box; 
    display: inline-block; 
    border: 1px solid #b9c2bd;    
}

.titulo {
    font-size: 35px;
    font-weight: 900;
}

.descripcion {
    font-size: 16px;
}

.descripcion a {
    text-decoration: none;
}

.signup {
    text-align: center;
    background-color: blue;
    width: 110px;
    height: auto;
    display: inline-block;
}