@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;900&display=swap');

body {
  font-family: 'Montserrat', sans-serif;
}

.contenedor {
    background-color: #fafafa;     
    text-align: center;
    
}

.tarjeta {
    text-align: left;    
    padding: 20px; 
    margin: 10px; 
    width: 400px;
    height: 350px;   
    box-sizing: border-box; 
    display: inline-block; 
    border: 1px solid #b9c2bd;    
}

.titulo {
    font-size: 35px;
    font-weight: 900;
}

.descripcion {
    font-size: 16px;
}

.descripcion a {
    text-decoration: none;
}

.signup {
	background-color:#4ec3e6;
	border-radius:11px;
	display: inline-block;
	cursor: pointer;
	color:#ffffff;
	font-family: Verdana;
	font-size: 12px;
	padding: 13px 50px;
	text-decoration: none;
}
.signup a:hover {
    background-color:#c4f5f5;
    color: #4ec3e6;
}
.signup a:active {
	position:relative;
	top:1px;
}
